body {
  background-color: black;
}
.container {
  background-color: antiquewhite;
  height: 900px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  align-content: center;
  /* gap: 10px; */
  flex-wrap: wrap;
}
.box {
  height: 200px;
  width: 200px;
  /* margin: 5px; */
}
.first {
  background-color: orange;
  /* flex-grow: 2; */
}
.second {
  background-color: aqua;
  /* flex-shrink: 4; */
}
.third {
  background-color: violet;
  /* align-self: end; */
}
.fourth {
  /* flex-basis: 400px; */
  background-color: teal;
}
